force-app/main/default/flows/AG_Type_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Screen flow to select Appeal vs Grievance type with educational content</description>
    <interviewLabel>A&amp;G Type Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>A&amp;G Type Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Type_Selection_Screen</name>
        <label>Type Selection Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Output_Variable</targetReference>
        </connector>
        <fields>
            <name>Header_Text</name>
            <fieldText>&lt;p style="text-align: center;"&gt;&lt;b style="font-size: 16px;"&gt;Let me help you determine the type of case:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Appeal_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Appeal&lt;/b&gt;: A request to review a decision about coverage, payment, or services.&lt;/p&gt;&lt;p&gt;&lt;span style="color: rgb(68, 68, 68);"&gt;Examples: Denied claim, prior authorization denial, formulary exception&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Grievance_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Grievance&lt;/b&gt;: A complaint about service quality, access to care, or provider behavior.&lt;/p&gt;&lt;p&gt;&lt;span style="color: rgb(68, 68, 68);"&gt;Examples: Wait times, staff behavior, billing issues, quality of care concerns&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AG_Type_Picklist</name>
            <dataType>String</dataType>
            <fieldText>Which type of case do you need to file?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <choiceReferences>Appeal_Choice</choiceReferences>
            <choiceReferences>Grievance_Choice</choiceReferences>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_Selection_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>selectedType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <choices>
        <name>Appeal_Choice</name>
        <choiceText>Appeal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Appeal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Grievance_Choice</name>
        <choiceText>Grievance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grievance</stringValue>
        </value>
    </choices>
    <assignments>
        <name>Set_Output_Variable</name>
        <label>Set Output Variable</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>selectedType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AG_Type_Picklist</elementReference>
            </value>
        </assignmentItems>
    </assignments>
</Flow>
